---
import Header from "@components/header/Header.astro";
import Typography from "@components/typography";
import MainLayout from "@flow/layouts/Main/MainLayout.astro";
import useGetKeywords from "@services/useGetKeywords";
import { config } from "src/config";

const { getKeywords } = useGetKeywords();
const keywords = getKeywords();
---

<MainLayout description={config.description} keywords={config.keywords}>
  <Header />
  <section class="section">
    <div class="container">
      <div class="max-w-2xl flex flex-col divide-y divide-white/10 mx-auto">
        {
          keywords.map((keyword) => (
            <div class="py-8">
              <div class="flex flex-col gap-2">
                <a href={`/${keyword.slug}`}>
                  <Typography variant="title-small">{keyword.title}</Typography>
                </a>
                <Typography>{keyword.description}</Typography>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>
